{%extends 'frontend/index.html'%}

{% load static %}

{% block content%}
<section class="min-vh-100 d-flex flex-row pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1 class="text-center">Success</h1>
            <p class="text-body-secondary text-center">The password reset link has been sent your mail adress</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
