{%extends 'frontend/index.html'%}
{% load crispy_forms_tags %}

{% load static %}

{% block content%}
<section class="min-vh-100 d-flex flex-row pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4 mx-4">
          <div class="card-body p-4">
            <h1 class="text-center">Set Your Password</h1>
            <p class="text-body-secondary text-center">Change your password.</p>
            {% crispy form form.helper  %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
