{% extends 'base.html' %}


{% block body %}
{% include 'includes/dashboard/_sidenav.html' %}
<div class="wrapper d-flex flex-column min-vh-100">
    
    {% include 'includes/dashboard/_header.html' %}
    
    <div class="body flex-grow-1">
        <div class="container-lg px-4">
            
            {% block dashcontent %}{% endblock dashcontent %}
           
        </div>
    </div>
        
        

    {% include 'includes/dashboard/_footer.html' %}
</div>
    
{% endblock body %}
    