{%extends 'dashboard/index.html'%}
{% load crispy_forms_tags %}

{% block dashcontent %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap mt-1 p-2 align-items-center border-bottom">
    <div class="container">

        <h1 class="h2">Profile</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
    </div>

</div>
<!-- Profile 1 - Bootstrap Brain Component -->
<section class="py-3">
    <div class="container">
      <div class="row gy-4 gy-lg-0">

        <div class="col-12">
          <div class="card widget-card border-light shadow-sm">
            <div class="card-body p-4">
              <ul class="nav nav-tabs" id="profileTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="email-tab" data-bs-toggle="tab" data-bs-target="#email-tab-pane" type="button" role="tab" aria-controls="email-tab-pane" aria-selected="false">Emails</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="password-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane" aria-selected="false">Password</button>
                </li>
              </ul>
              <div class="tab-content pt-4" id="profileTabContent">
                <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
                  <h5 class="mb-3">About</h5>
                  <p class="lead mb-3">{{user.profile.bio|default:'empty'}}</p>
                  <h5 class="mb-3">Profile</h5>
                  <div class="row g-0">
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">First Name</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">{{user.profile.first_name}}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Last Name</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">{{user.profile.last_name}}</div>
                    </div>

                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Phone</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">{{user.phone}}</div>
                    </div>
                    <div class="col-5 col-md-3 bg-light border-bottom border-white border-3">
                      <div class="p-2">Email</div>
                    </div>
                    <div class="col-7 col-md-9 bg-light border-start border-bottom border-white border-3">
                      <div class="p-2">{{user.email}}</div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                  <form action="#!" class="row gy-3 gy-xxl-4">
                    <div class="col-12">
                      <div class="row gy-2">
                        <label class="col-12 form-label m-0">Profile Image</label>
                        <div class="col-12">
                          <img width="200" height="200" src="{{user.profile.pp.url}}" class="img-fluid img-thumbnail" alt="{{user.username}}">
                        </div>
                        <div class="col-12">
                          <a href="#!" class="d-inline-block bg-primary link-light lh-1 p-2 rounded">
                            <i class="bi bi-upload"></i>
                          </a>
                          <a href="#!" class="d-inline-block bg-danger link-light lh-1 p-2 rounded">
                            <i class="bi bi-trash"></i>
                          </a>
                        </div>
                        <div class="col-12">
                          {% crispy profile_form profile_form.helper  %}
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
                <div class="tab-pane fade" id="email-tab-pane" role="tabpanel" aria-labelledby="email-tab" tabindex="0">
                  <form action="#!">
                    <fieldset class="row gy-3 gy-md-0">
                      <legend class="col-form-label col-12 col-md-3 col-xl-2">Email Alerts</legend>
                      <div class="col-12 col-md-9 col-xl-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="emailChange">
                          <label class="form-check-label" for="emailChange">
                            Email Changed
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="passwordChange">
                          <label class="form-check-label" for="passwordChange">
                            Password Changed
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="weeklyNewsletter">
                          <label class="form-check-label" for="weeklyNewsletter">
                            Weekly Newsletter
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="productPromotions">
                          <label class="form-check-label" for="productPromotions">
                            Product Promotions
                          </label>
                        </div>
                      </div>
                    </fieldset>
                    <div class="row">
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                  <form action="#!">
                    <div class="row gy-3 gy-xxl-4">
                      <div class="col-12">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword">
                      </div>
                      <div class="col-12">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword">
                      </div>
                      <div class="col-12">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword">
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>


{% endblock dashcontent %}
