{%extends 'dashboard/index.html'%}

{% block dashcontent %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap mt-1 p-2 align-items-center border-bottom">
    <h1 class="h2">Profile</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card p-2">
            <div class="card-content">
                <h4>Profile Information</h4>
            </div>
        </div>
    </div>
</div>


{% endblock dashcontent %}
                    

